<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品监控列表</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script language="javascript">
        var dialog_subscribe;
        $(document).ready(function () { //这个就是传说的ready
            $(".row li").mouseover(function () {
                //如果鼠标移到class为stripe的表格的tr上时，执行函数
                $(this).addClass("over");
            }).mouseout(function () {
                //给这行添加class值为over，并且当鼠标一出该行时执行函数
                $(this).removeClass("over");
            }) //移除该行的class
            $(".stripe li:even").addClass("alt");
            //给class为stripe的表格的偶数行添加class值为alt

            var emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
                    mail = $( "#mail" ),
                    url = $( "#url" ),
                    hope_price = $( "#hope_price" ),
                    label = $("#label");

            function new_subscribe(){
                $.post("/add_subscribe",
                        {
                            mail:mail.val(),
                            url:url.val(),
                            hope_price:hope_price.val(),
                            label_id:label.val()
                        },
                        function (data,status) {
                            if(status == 'success'){
                                if (data == 'success'){
                                    dialog_subscribe.dialog("close")
                                    window.location.reload()
                                }else {
                                    alert(data)
                                }
                            }else {
                                alert("服务器无响应")
                            }
                        }
                );
            }

            dialog_subscribe = $("#dialog-subscribe").dialog({
                autoOpen:false,
                height:350,
                width:600,
                modal:true,
                buttons:{
                    "订阅":new_subscribe,
                    "取消":function () {
                        dialog_subscribe.dialog("close")
                    }
                },

            })

            $("#create-subscribe").click(function () {
                mail.val(this.getAttribute("data-user-mail"))
                dialog_subscribe.dialog("open")
            });

            form = dialog_subscribe.find( "form" ).on( "submit", function( event ) {
                event.preventDefault();
                new_subscribe();
            });

        });

        function over_get_items(obj, id) {
            $.get("/item_list/" + id +"/"+20, function (data,status) {
                if (status == 'success' && data != null) {
                    var dates = []
                    var prices = []

                    for (i = data.length-1; i >= 0 ;i--) {
                        dates.push($.parseJSON(data[i]).date)
                        prices.push($.parseJSON(data[i]).min_price)
                    }

                    var chart = {
                        backgroundColor: '#FCFFC5',
                        type: 'line'
                    }

                    var title = {
                        text: '价格波动'
                    };
                    var subtitle = {
                        text: 'Source: taobao.com'
                    };
                    var xAxis = {
                        categories: dates
                    };
                    var yAxis = {
                        title: {
                            text: '价格 (¥)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    };

                    var tooltip = {
                        valueSuffix: '\xB0C'
                    }

                    var legend = {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    };

                    var series = [
                        {
                            name: '最低价格',
                            data: prices
                        }
                    ];

                    var json = {};

                    json.title = title;
                    json.subtitle = subtitle;
                    json.xAxis = xAxis;
                    json.yAxis = yAxis;
                    json.tooltip = tooltip;
                    json.legend = legend;
                    json.series = series;
                    json.chart = chart;

                    $('#trend').highcharts(json);

                    $('#trend').css("left",(obj.offsetLeft - $('#trend').outerWidth(true))+"px");
                    $('#trend').css("top",(obj.offsetTop + 25)+"px");


                }else {
                    alert("未查询到数据")
                }
            }, "json");
            $("#trend").show();
        }
        function out_get_items(){
          $("#trend").hide();  
        }
        function subscribe(mail,url,label_name) {
            $('#mail').val(mail)
            $('#url').val(url)
            console.log(label_name);
            $('#label').find("option").prop("selected",false);
            $('#label').find("option:contains('"+label_name+"')").prop("selected",true)
            dialog_subscribe.dialog("open")

        }
        function unsubscribe(observable_id,subscriber_id,title) {
            if(confirm("取消订阅 - " + title)) {
                $.get('/unsubscribe/' + observable_id + '/' + subscriber_id, function (data,status) {
                    if (status == 'success' && data) {
                        window.location.reload()
                    }else {
                        alert("操作失败")
                    }
                })
            }
        }

    </script>
    <style>
        .row {
            width: auto;
            padding: 5px 0 5px 0;
            background: #FFF;
        }

        .row li {
            padding: 5px 5px 5px 5px;
            background: #FFF;
            vertical-align: middle;
        }

        span, img {
            vertical-align: middle;
        }

        /* 默认背景被白色 */
        .row li.alt {
            background: #F2F2F2;
        }

        /* 默认隔行背景颜色 */
        .row li.over {
            background: #EEECEB;
        }

        #trend{
            display: none;
            position:absolute;
        }
        .price_column{
            width:100px;
            display:inline-block;
        }
        .price_column2{
            width:60px;
            margin:0 0 0 10px;
            display:inline-block;
        }
        .date_column{
            width:100px;
            margin:0 0 0 10px;
            display:inline-block;
        }
        .subscribe_column{
            margin:0 0 0 10px;
            display:inline-block;
            width:110px;
        }

        #create-subscribe{
            cursor:pointer;
            text-decoration: underline;
        }

    </style>
</head>
<body style="padding: 10px 30px 10px 30px">
<div id="trend"></div>
<div id="dialog-subscribe"  title="订阅">
    <p class="validateTips">请填写接收通知的邮箱，商品的链接以及期望的价格</p>
    <form method="post" action="">
        <table align="center">
            <tr>
                <td class="right">邮箱：</td>
                <td><input id="mail" name="mail" type="text" value="{{ mail }}"></td>
            </tr>
            <tr>
                <td class="right">商品链接：</td>
                <td><input id="url" name="url" type="text" value="{{ url }}"></td>
            </tr>
            <tr>
                <td class="right">期望价格：¥</td>
                <td><input id="hope_price" name="hope_price" type="text"></td>
            </tr>
            <tr>
                <td class="right">标签</td>
                <td><select id="label" name="label" autocomplete="off">
                    {% for opt in labels %}
                        <option value="{{ opt.id }}">{{ opt.name}}(¥{{ opt.lowest_price}}) </option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" tabindex="-1" style="position:absolute; top:-1000px"></td>
            </tr>
        </table>
    </form>
</div>
<div style="display:table;text-align: right;width:100%;">
    {% if user %}
        <span style="border-style: none none solid none;border-bottom-width: 1px;">用户：{{ user.mail }}</span>&nbsp;
        <span id="create-subscribe" data-user-mail="{{ user.mail }}" onmouseover="this.style.cursor='hand'">订阅</span>&nbsp;
    {% else %}
        <span id="create-subscribe" onmouseover="this.style.cursor='hand'" >订阅</span>&nbsp;
    {% endif %}
    <span ><a href="/label_list" target="_self">归类</a></span>
</div>
{% if label %}
    <h3><span style="font-size: small">标签：</span>
        <span style="color: red;">[{{ label.name }}]</span>
                &nbsp;<span style="font-size: small">相关</span></h3>
{% endif %}
{% if list %}
    <ol class="row">
        <div class="head">
            <b>名称</b>
            <span style="float:right">
                    <b class="price_column">最低价格</b>
                    <b class="price_column2">史低</b>
                    <b class="date_column">更新日期</b>
                    <b class="subscribe_column">订阅(期望价格)</b>
                </span>
        </div>
        {% for foo in list %}
            <li><a href="{{ foo.url }}" target="_blank">
                <span>{{ foo.v_item.title if foo.v_item else '[暂未抓取]['+foo.v_label.name+']商品' }}</span></a>
                <span style="float:right">
                    <span class="price_column" onmouseover="over_get_items(this,'{{ foo.id }}')" onmouseout="out_get_items()">
                        ¥{{ foo.v_item.min_price if foo.v_item else '0.00'}}
                        {% if foo.v_trend>0 %}
                            <img style="width: 20px;height: 20px" src="{{ url_for('static',filename='up.png') }}"/>
                        {% elif foo.v_trend<0 %}
                            <img style="width: 20px;height: 20px" src="{{ url_for('static',filename='off.png') }}"/>
                        {% endif %}
                    </span>
                    <span class="price_column2">¥{{ foo.v_label.lowest_price }}</span>
                    <span class="date_column">
                        {{ foo.v_item.date.strftime('%m-%d %H:%M') if foo.v_item else ''}}
                    </span>
                    {% if foo.v_subscribe %}
                        <input class="subscribe_column" type="button" value="取消订阅(¥{{ foo.v_subscribe.hope_price }})"
                               onclick="unsubscribe({{ foo.id }},{{ foo.v_subscribe.subscriber_id }},'{{ foo.v_item.title if foo.v_item else '[暂未抓取]['+foo.v_label.name+']商品'}}')"/>
                    {% else %}
                        {% if user %}
                            <input class="subscribe_column" type="button" value="订阅"
                                   onclick="subscribe('{{ user.mail }}','{{ foo.url }}','{{ foo.v_label.name }}')"/>
                        {% else %}
                            <input class="subscribe_column" type="button" value="订阅"
                                   onclick="subscribe('','{{ foo.url }}','{{ foo.v_label.name }}')"/>
                        {% endif %}
                    {% endif %}
                </span>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <span>没有数据</span>
{% endif %}
</body>
</html>
